*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: #257180;
}

.container{
    height:70vh;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.8vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 8vmin;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    color: #CD5C08;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 5px solid black;
    margin-top: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #F2E5BF;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }

  footer{
    color: rgb(47, 61, 122);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: bottom;
  }

  footer a {
    color: rgb(47, 61, 122);  
    text-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    
  }